<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Modified When</th>
      <th scope="col">TypeID</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let customer of customers">
      <td>{{customer.id}}</td>
      <td>{{customer.title}}</td>
      <td>{{customer.firstName}}</td>
      <td>{{customer.lastName}}</td>
      <td>{{customer.modifiedWhen | date: "dd.MM.yyyy hh:mm:ss"}}</td>
      <td>{{customer.custTypeId}}</td>
      <td>{{customer.type}}</td>
    </tr>
  </tbody>

</table>
<p></p>