form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 400px;
  box-sizing: border-box;
  margin: 10px;
}

select {
  width: 200px;
}

nav {

}

.tool-buttons {
  width: 100px;
  float: right;
  margin-left: auto;
}

.tool-button {
  cursor: pointer;
  float: right;
  margin-right: 10px;
}

i {
  color: #495057;
}
